.wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.wrapper > div {
  min-width: 350px;
  min-height: 100px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;  
  align-items: flex-start;
}

ul {
  list-style: none;
}

li {
  display: block;
  width: fit-content;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}
input{
  padding: 10px 30px;
}
.order-details{
  color: #fff;
  background-color: green;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.order-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.display-none {
    display: none;
}